<div id="InteractionView">
    <div class="card">
        <div class="card-header">
            <div style="float: left; margin-right:40px">
                <h6 style="display: inline; user-select: none">微观解释模块</h6>
            </div>
            <div style="float: right;margin-right:10px">
                <input type="button" value="更新图表" v-on:click="addline"/>
            </div>
        </div>
        <div class="card-block" id="InteractionContainer">
            <div id="InteractionGraph"></div>
        </div>
    </div>
</div>
